*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}
.container{
    position: relative;
    width: 70%;
    height: 500px;
    background-color: #222;
}
.clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.clip1{
    clip-path: polygon(0 0, 49% 0, 45% 100%, 0 100%);
    background: url(https://www.stylefile.de/on/demandware.static/-/Sites-master-catalog/default/dwa0f29647/hi-res/P.KH15T10101-z0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.clip2{
    background: url(https://img1.g-star.com/product/c_fill,f_auto,h_675,q_80/v1597901997/D17538-8349-082-Z08W/g-star-raw-western-slim-frill-dress-dark-blue.jpg);
    clip-path: polygon(49% 0, 100% 0, 45% 100%, 19% 100%);
    background-repeat: no-repeat;
}
.clip3{
    background: url(https://img1.g-star.com/product/c_fill,f_auto,h_675,q_80/v1597901300/D17485-C454-4213-Z01W/g-star-raw-long-teddy-quilted-liner-dark-blue.jpg);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 42% 100%);
    background-repeat: no-repeat;
}
.container:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.container .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.container .clip .contenido{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 70%;
    padding: 20px;
    background: #000;
    color: #fff;
    transition: 0.5s;
    opacity: 0;
}
.container .clip:hover .contenido{
    bottom: 0;
    opacity: 1;
}